/* Desactiva el scroll cuando el modal está abierto */
.no-scroll {
    overflow: hidden;
}

/* Desactiva los efectos hover cuando el modal está activo */
.modal-active *:hover {
    pointer-events: none;
}

/* Mantiene la interactividad dentro del modal */
.modal-active .modal-content,
.modal-active .close-modal {
    pointer-events: all;
}

/* Estilos del modal */
.modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(26, 27, 38, 0.9); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none; /* Bloquear interacciones en todo */
}

/* Reactivar las interacciones dentro del modal */
.modal-content {
    pointer-events: all;
    background-color: #1e2139;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
    min-width: 300px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    color: #f8f8f2;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    color: #6272a4;
    transition: color 0.3s ease;
}

.close-modal:hover {
    color: #ff79c6;
}

h2 {
    margin: 0 0 10px 0;
    color: #A9B1DC;
}

p {
    margin: 5px 0;
    color: #A9B1DC;
}
