.patientsList {
    color: white;
}

/* Contenedor general */
.patientList__container {
    /* border: solid red 2px;  */
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    padding: 1rem; /* Añadimos algo de padding */
    background-color: #1e2139; /* Fondo similar al de patient-card */
    border-radius: 12px; /* Bordes redondeados para mantener consistencia */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

.patients__Attributes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #44475a; /* Color de fondo igual que en patient-card */
    color: #f8f8f2; /* Color del texto */
    padding: 1.2rem; /* Padding interno */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.patients__Attributes p {
    margin: 0;
    font-weight: bold;
    color: #f8f8f2; /* Blanco suave */
    text-align: center; /* Centramos el texto */
    font-size: 1.1rem; /* Ajustamos el tamaño de la fuente */
}

.filters {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.filters input {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 30%;
    background-color: #2e2f3e;
    color: white;
}


@media (width >= 768px) {
    .patientList__container {
        max-width: 140rem;
        margin-top: 2rem;
        justify-content: space-between;
    }
}