

html{
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
    
    background-color: #16161e;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--mainFont);
    font-size:1.6rem;
    line-height: 1.8;
}
img {
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
    font-size: 3rem ;
    font-weight: 400;
    padding: 1rem;
}
a:visited {
    color: inherit; /* o cualquier color que desees */
}
h1{
    margin: 0;
    
    font-weight: 900;
}

.gotu{
    font-family: 'Gotu', sans-serif;
}
.urbanist{
    font-family: 'Urbanist', sans-serif;
}
.hero{
    min-height: 65rem;
    background-image: url(/src/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .90;
}
[class$="__contenedor"]{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

