.header {
    background-color: #1e2139; /* Fondo oscuro y elegante */
    border-bottom: 2px solid #6272a4; /* Borde en un tono morado claro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    padding: 1rem 0;
    border-radius: 8px; /* Bordes redondeados para suavizar el diseño */
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo img {
    width: 15rem; /* Ajusté el tamaño del logo */
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3)); /* Sombra sutil para destacar el logo */
}

.gotu {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f8f8f2; /* Texto en un blanco sutil */
    margin: 0.5rem 0 0;
}

.navegation {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    color: #ffffff; /* Color suave azul claro para los links */
   
}

.navegation__link {
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    margin: 0.5rem 0;
}

.navegation__link:hover {
    color: #1D99A2; /* Efecto hover con color rosado */
    transform: translateY(-4px); /* Efecto de elevación */
    transform: scale(1.5);
}

@media (min-width: 768px) {
    .header__container {
        flex-direction: row;
        justify-content: space-between;
    }

    .header__logo {
        flex-direction: row;
        align-items: center;
    }

    .header__logo img {
        width: 10rem;
    }

    .gotu {
        font-size: 2rem;
        margin-left: 1rem;
    }

    .navegation {
        flex-direction: row;
        gap: 3rem;
    }

    .navegation__link {
        margin: 0;
        font-size: 1.5rem;
    }
}
