.modal-active .patient-card:hover {
    transform: none;
    box-shadow: none;
}

/* Mantener la interactividad dentro del modal */
.modal-active .modal-content,
.modal-active .close-modal {
    pointer-events: all;
}

/* Encabezados similares a los de patients__Attributes */
.patient-card {
    background-color: #1e2139; /* Fondo oscuro igual al de patientsList */
    color: #f8f8f2; /* Texto claro */
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Repetición de 6 columnas */
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.patient-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* Alinear el contenido de cada columna al centro */
.patient-card p, .patient-card h3 {
    text-align: center; /* Centrar el texto */
    margin: 0.5rem 0;
    color: #6273a4; /* Color del texto similar al de patientsList */
}

/* Acciones alineadas al centro */
.patient__Actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilo de íconos en actions */
.patient__Actions i {
    font-size: 1.2rem;
    color: #A9B1DC;
    cursor: pointer;
    transition: color 0.2s ease;
}

.patient__Actions i:hover {
    color: #ff79c6;
}

/* Titulos en cada columna */
.patient-card h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #f8f8f2; /* Consistencia con el diseño general */
}

/* Sombra más pronunciada */
.patient-card {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25); /* Sombra un poco más fuerte */
}
